.activity-container {
    background-color: #fbfbfb;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }
  
  .activity-title {
    font-size: 16px;
    font-weight: 500;
    color: #20253a;
    margin-bottom: 20px;
  }
  
  .custom-tooltip {
    background: #e60000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
  }
  